{% extends 'base.html' %}
{% block title %}Create Certificat{% endblock title %}

{%block content%}
<form method="post" enctype="multipart/form-data">

    <h2>Add Certificat</h2>
    {% csrf_token %}
    <table class="tbl-td w-100 table table-sm">
        {% for field in form %}
        <tr class="border-2">
            <td class="">
                {{ field.errors }}
                <label>{{ field.label }}</label>
            </td>
            <td class="border-0">
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <button class='btn btn-primary' href="{% url 'delete_certificate' object.pk %}">
            Cancel</button>
        <button class='btn btn-primary mx-5' type="submit">Save</button>
        <input class='btn btn-primary' value='Publish' type="submit"
            formaction="{% url 'publish_certificate' object.pk %}">
    </div>
</form>
{%endblock content%}
