{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <table class="table text-left">
        <tr class="h5">
            <td class="p-1"><label for="disabledInput">Found certificate created by</label>
                <input type="text" readonly class="form-control-plaintext bg-success rounded" id="staticEmail"
                    value="{{object.name}}"></td>
        </tr>
        <tr class="h5">
            <td class="p-1">
                <label for="disabledInput">Internal number</label>
                <input type="text" readonly class="form-control-plaintext bg-success rounded" id="staticEmail"
                    value="{{object.internal_num}}">
            </td>
        </tr>
        <tr class="h5">
            <td class="p-1">
                <label for="disabledInput">Public number</label>
                <input type="text" readonly class="form-control-plaintext bg-success rounded" id="staticEmail"
                    value="{{object.public_num}}">
            </td>
        </tr>
        <tr class="h5">

            <td class="p-1">
                <label for="disabledInput">PDF</label>
                {% if  object.pdf %}
                <a class="btn btn-outline-info btn-sm mr-2" href="{{ object.pdf.url}}" role="button" download><span
                        class="oi oi-data-transfer-download"></span></a>
                {%else%}
                <label for="disabledInput">No exist</label>
                {%endif%}

            </td>
        </tr>
        <tr class="h5">
            <td class="p-1">
                Reviews
                <span class="bg-success table-bordered mr-2">{{object.views_count}}</span>
            </td>
        </tr>
    </table>
</div>



{% endblock content %}
